[2018-02-01 14:43] sfirke opened #1 "Make S3 class and print method for list of surveys"

[2018-02-01 15:11] sfirke opened #2 "Test all args to browse_survey"
I dumped them all in from RMonkey, they match the v3 API but I have not verified they work.

[2018-02-01 16:37] sfirke opened #3 "use a custom S3 object instead of passing ID as an integer"
For minimum viable product I'm calling functions with an ID, which can be easily fetched by `browse_surveys`.  But the previous RMonkey implementation passed S3 classes instead.  Once up and running, decide which is a better user experience.

[2018-02-01 18:31] sfirke opened #4 "Make sure Q and respondent parsers cover all cases from API"
I wrote them a year ago and for sake of an MVP will use those.  But they are incomplete and brittle, e.g., I removed the passing through of `weight` for multiple choice answers for now.  Need to compare to API and make sure all question and respondent aspects that could appear can be handled.

[2018-02-01 19:13] sfirke opened #5 "Break up survey_responses function"
The renaming and rearranging should be its own function(s)

[2018-02-01 19:15] sfirke commented on #5
This is too complex to debug, it needs to be built up more slowly.

[2018-02-06 14:42] sfirke commented on #4
I think I have the relevant fields listed here: https://docs.google.com/document/d/1qZ8WfJ2bMW1qaL-ABd0JQJg9LROVlEI2aXyWffGaJX0

[2019-04-04 17:01] sfirke opened #6 "Are we handling check-all-that-apply okay?"
Say "what grades do you teach"?

[2019-04-04 17:02] sfirke opened #7 "respondents is only pulling 50 respondents"

[2019-04-04 18:40] #7 closed, assigned to nobody

[2019-04-04 18:40] #6 closed, assigned to nobody

[2019-04-04 20:05] sfirke opened #8 "Grab "other" text in MC question and insert in that column"

[2019-04-04 20:05] sfirke opened #9 "Only print "recipient_id" col if not NA"

[2019-04-04 20:15] sfirke opened #10 "Pull custom variable for response rate tracking"

[2019-04-05 03:28] sfirke opened #11 "Multiple choice columns where no one selected the response aren't passed through"
Say on BR survey, no one selected "Early College/Dual Enrollment" or "11th grade" so these columns didn't appear.  Should be in choices, though, just need to pull it through.

[2019-04-05 03:33] #8 closed, assigned to nobody

[2019-04-05 03:36] sfirke opened #12 "Appropriately factorize answers"
Is there a way to bring in variables like "somewhat agree" as factors, but leave those like "please select the school you teach at?" as character?  Maybe by definition anything that can be chosen from a drop-down / multiple choice is a factor.

[2019-04-05 13:00] #11 closed, assigned to nobody

[2019-04-05 14:32] #12 closed, assigned to nobody

[2019-04-05 14:35] sfirke opened #13 "allow option to strip HTML tags from column names / question text"
There are ton of HTML tags that SurveyMonkey can pass through: `<em></em>`, various `<span>`, `<strong>`, etc.  But in theory a user might put meaningful text in `<>` too.

Rather than always stripping a set of known tags, offer an option to strip anything between `<>`.  Then the rare user who actually uses `<>` in question text can decline this option, while for others it will handle any HTML tag

[2019-04-05 14:48] sfirke opened #14 "Pass through metadata"
Time begun/ended, etc.  Match the .xlsx export for starters?

[2019-04-05 14:50] sfirke opened #15 "Make variables where all choices are numeric into class numeric"
Currently character.  Low priority.

[2019-04-05 14:54] sfirke opened #16 "How should column names be handled? Actual text vs. legal var names"
Right now the full actual question text appears in column names.  These are almost always illegal variable names.  But this is very useful info.  How to balance?

Best I can think of right now is to offer an additional optional function that would set this full question text as a label attribute (I already have this implemented elsewhere) and truncate the column names to either a cleaned up versio

[2019-04-05 18:19] sfirke opened #17 "Duplicated questions with identical question text get merged into the same column"
E.g., a survey with branching logic asked two different subpopulations the same question in two different places: "how long do you plan to stay?"  Because question text is effectively the unique ID for questions, the data for these two questions would appear in the same column.

Is this bad?  Strictly speaking, it seems like these should be different columns.  Could be solved by adding a suffix on

[2019-04-09 18:02] sfirke opened #18 "info for menu-type questions does not appear in choices table"
survey 171195035, question id 252624807 is present in the questions table but not choices.  I think right now it would appear in results but not with a factorized column?  See why it's not parsing into the choices table.

[2019-04-09 18:21] sfirke opened #19 "Finish refactoring code to pull factors by unique Q id combo"
Specifically, go from tidyr::spread() to tidyr::pivot_wider() because according to https://github.com/tidyverse/tidyr/issues/193 spread(, drop=FALSE) won't do what I want here.

[2019-04-10 15:06] sfirke opened #20 "Menu-type factor levels are pulled from all columns in question"
For instance unique q ID `252624806_1715092751` and `252624806_1715092752` share the name factor levels.  I think the solution involves pulling `question$answers$cols[[1]]$id` when gathering choices, but this is more than I can implement now.

Stop-gap solution is to add `unique()` to the end of `get_factor_levels` which is not proper.  Remove that when this is implemented.

[2019-04-10 15:38] sfirke opened #21 "Combine question and answer choice data as they are pulled, to make true unique ID"
Question `1715092755`.  It pains me to say this but given that question and choice data live in the same lists, it may be cleaner in the long run to scrap the current separate parsers and instead write a single unified one, likely merging/expanding them appropriately as it goes.

[2019-04-10 15:38] #19 closed, assigned to nobody

[2019-04-10 15:39] #17 closed, assigned to nobody

[2019-04-24 13:44] sfirke opened #22 "add user agent to API call"
See "Set a user agent" here: https://cran.r-project.org/web/packages/httr/vignettes/api-packages.html

[2019-05-09 02:17] sfirke opened #23 "Look into odd mismatch of # of records exported"
Pulling survey `171195035` through the API, I get 452 records, but just 445 in the export I grabbed that was already on offer to me in the web browser.  Did someone have a filter on there?

[2019-05-09 02:41] #18 closed, assigned to nobody

[2019-05-09 02:41] #20 closed, assigned to nobody

[2019-05-09 02:41] #21 closed, assigned to nobody

[2019-05-09 02:42] sfirke opened #24 "Multiple choice columns misordered if rearranged after creation"
I see an "N/A - I did not attend" .. type answer choice appearing last in SurveyMonkey xlsx export, the order in which it was offered, but not in the current R API version.  I'm guessing that's because the package is ordering based on choice #, which is in the order the options were created, and doesn't allow for them being re-arranged.

Solution will involve looking at choice position order when

[2019-05-09 02:58] sfirke opened #25 "Make sure parse_all_questions won't choke if a question type wasn't used on survey"
Some columns may not naturally be present after parsing the questions, e.g., `other_text` may be missing if there were no "other" options offered.  Force those to be present (NA values) to keep subsequent code running.

In trying out my current working code on random surveys, I surfaced a need for `col_text` and `other_text` so added this below.  Check to see if other shortcomings could need to be

[2019-05-09 03:01] sfirke opened #26 "Check that on this survey, the final Q truly has no open responses submitted"
`172045225 %>% fetch_survey_obj() %>% parse_survey() -> x`  -- compare to actual SM export

[2019-05-09 12:47] #23 closed, assigned to sfirke

[2019-05-09 13:16] #26 closed, assigned to sfirke

[2019-05-09 13:45] #24 closed, assigned to nobody

[2019-05-09 13:50] #25 closed, assigned to nobody

[2019-05-09 15:25] sfirke opened #27 "Weird case of an other breaking parse_survey"
survey `166507207`, response id `10612765589`, question id `220028310` has two rows in the `responses` data.frame.  Where choice id `1511253599` appears in the `choice_id` column and the `other_id` column.

[2019-05-09 18:10] sfirke opened #28 "Sort final data.frame by the same thing that the .xlsx export is sorted on"
So the rows look the same when comparing them.  Looks like that's response_id, in descending order.

[2019-05-09 18:45] #28 closed, assigned to nobody

[2019-05-17 17:48] sfirke opened #29 "Update installation guidance"
Need to install the latest tidyr from GitHub, which will also need the latest vctrs from GitHub, which will need the latest rlang...

Need to add oauth to .Rprofile _and_ .Renviron (?!) for getOption to succeed?

[2019-05-24 14:07] #29 closed, assigned to nobody

[2019-06-25 19:46] dpashouwer opened #30 "Error when installing package"
Think I properly added the GITHUB_PAT to my .Renvironment, but get this error when trying to install...
`devtools::install_github("tntp/surveymonkey")`

`Downloading GitHub repo tntp/surveymonkey@master
Error in utils::download.file(url, path, method = method, quiet = quiet,  :
  cannot open URL 'https://api.github.com/repos/tntp/surveymonkey/tarball/master'
In addition: Warning message:
In base_d

[2019-07-17 17:34] #30 closed, assigned to sfirke

[2019-07-17 17:36] sfirke opened #31 "sm_oauth_token argument missing from parse_survey"
`fetch_survey_obj` and `browse_surveys` both allow manually specifying a value for `sm_oauth_token` but that's missing from `parse_survey`.  So if you can't get your .Rprofile working, or want to manually specify a token, you're out of luck.

`parse_survey` should accept that argument, in the style of the other two functions, and pass it through into the sub-functions that make API calls.

[2019-07-18 15:02] sfirke opened #33 "return survey start/end timestamps"

[2019-07-18 15:03] sfirke opened #34 "add periodic when-your-limit-resets announcement to all API calls"
I added this to browse_surveys():
[code]
but it's missing from the other API calls.  Add it.  Maybe there's a universal place to add it, or if not, wrap it in a function?

[2019-07-18 15:32] #33 closed, assigned to sfirke

[2019-07-30 22:02] dpashouwer opened #36 "Coalesce questions with the same name"
Ran into a logic limitation in SM where I had to repeat a question for different sub-groups of respondents (ie. same question asked in two different places). surveymonkey::parse_survey added "_2" and "_3" to the second and third instances of the question. This might indeed be exactly what we want as it's very explicit.

But then in my code I had to coalesce these questions into one column. Maybe w

[2019-07-31 13:01] sfirke opened #37 "Eliminate fetch_survey_obj step except for developers?"
The typical user won't get anything from the result of `fetch_survey_obj`, it's just an extra step.  It's been very useful to me in developing the package but is a relic of that process.

What's the best way to smooth that out?  We could keep it two steps behind the scenes, and leave those functions accessible for those who want them, but chiefly promote a new function that would call both in one

[2019-08-20 15:57] dpashouwer opened #38 "Error with parse_survey id = 152868972"
Old survey from 2018 that I'm trying to access. Keep running into the error: "Error: Argument 2 must be length 1, not 0"

![image](https://user-images.githubusercontent.com/4881370/63363345-a8d6b280-c330-11e9-8ee2-98c3f43859f4.png)

[2019-09-03 18:32] #38 closed, assigned to nobody

[2019-09-23 18:39] #31 closed, assigned to sfirke

[2019-10-01 18:42] sfirke opened #39 "Give authorship credit to RMonkey code authors whose code is reused here"
Looks like Thomas Leeper is the only RMonkey author who made more than one commit and the single commits were all just a few lines, so I think only Thomas needs credit.  In his DESCRIPTION he is:
[code]

[2019-10-02 15:08] sfirke opened #40 "Address authentication"
Does https://developer.surveymonkey.com/apps/8804/settings/ work to get the API key for any account?  Do they first need to register as a developer, or create an app?

[2019-10-03 18:11] #22 closed, assigned to sfirke

[2019-10-03 18:13] #10 closed, assigned to nobody

[2019-10-03 20:02] #39 closed, assigned to nobody

[2019-10-03 20:21] sfirke opened #42 "Add TNTP logo & link to repo?"

[2019-10-03 20:22] sfirke opened #43 "Add badges"
Particularly the lifecycle = "Experimental" badge.

[2019-10-07 19:21] sfirke commented on #38
Survey id `188182243` has actual `tag_data`, which caused breakage.  I am now intentionally dropping the tag data for now.  Specifically it's on page 4, Q5 of that survey.

[2019-10-10 19:30] sfirke opened #44 "Set up continuous integration"
Even if we don't yet have testing set up, it could run `check()` which would have caught an error I missed last week.

[2019-10-21 15:39] sfirke opened #45 "Multiple choice matrix Qs don't parse correctly"
E.g. survey 188183011, page 3, question 1.  I can try addressing the same way we treat question_type == "multiple choice", we can add the condition question_subtype == "multi".

I'm less clear what should go in the answer cell.  Say you it's a survey about which foods you eat for which meals and you ultimately have the combined column header "dinner - cereal" created from a multiple choice matrix

[2019-10-21 17:00] sfirke commented on #27
Survey `183426325` also has two cases of a single respondent having a duplicated response to a single multiple choice Q (the two cases have different duplicated question numbers)

[2019-11-01 17:20] sfirke commented on #13
Maybe this is its own function, run after parsing, in a pipeline.
[code]
And it could have an argument `what = c("questions", "responses", "all")` - "responses" would need to target only chosen responses, not open-response text.  The first priority is question names, of course - I'm not sure you can even use HTML in responses (check that out).

[2019-11-01 20:27] sfirke commented on #13
See also https://stackoverflow.com/questions/17227294/removing-html-tags-from-a-string-in-r.  I wonder if there's a regex that is not mind-melting that would remove any pair of HTML tags where one is <> and the other has a closing </> in it -- but not remove plain text in a pair of brackets like <hi>.

[2019-11-15 16:05] sfirke commented on #10
#35 closed this today, #14 is broader and covers other metadata so leaving that open until I review that issue

[2019-11-16 01:05] aiccu opened #46 ""choice_id" not found"
Error in ~!is.na(choice_id) : object 'choice_id' not found
In addition: Warning messages:
1: Unknown or uninitialised column: 'choice_id'.
2: Trying to compute distinct() for variables not found in the data:
- `choice_id`, `choice_position`
This is an error, but only a warning is raised for compatibility reasons.
The following variables will be used:
- q_unique_id
- question_id
- choice_text
Calle

[2019-11-18 18:27] sfirke commented on #46
Thanks for posting your error message!  I was able to recreate your error message by creating a survey with only simple question types.  I have now pushed a commit that, at least for me, has addressed this.  I'll close this issue, but please let me know if it persists after reinstalling the latest with `devtools::install_github("tntp/surveymonkey")`.

[2019-11-18 18:32] aiccu commented on #46
Fantastic - this package will really streamline our workflow (in addition to your excellent Janitor package). Thanks a ton!

[2019-11-18 18:38] aiccu opened #47 "Remove HTML Tags When Importing from Questions"
**Minor feature enhancement request:** imports HTML-markup tags to colname when present (see image)

![image](https://user-images.githubusercontent.com/56412165/69079675-61bf9280-09ef-11ea-8ea0-e9bc4e943c51.png)

 -label:enhancement.

[2019-11-18 18:57] sfirke commented on #46
Excellent.  I'll reopen this as I should fix that warning too.  Note to self, I think that involves moving the fix at https://github.com/tntp/surveymonkey/blob/master/R/assemble.R#L93 (and line 95) up to where `x` is created by the join at line 23.  It's great to see this package getting used! 😄

[2019-11-18 19:55] sfirke commented on #47
agreed that this is important!  I have an issue open already for this and will close this to consolidate the discussion there: https://github.com/tntp/surveymonkey/issues/13

[2019-11-18 19:55] #47 closed

[2019-11-22 21:30] sfirke commented on #14
I worked on a survey with Melissa today that had custom variables and they're not passing through, start with that one.

[2019-12-20 18:35] #46 closed

[2019-12-20 19:39] #43 closed

[2019-12-20 19:42] #42 closed

[2019-12-20 20:37] sfirke commented on #44
Voila!  With Github actions, instead of Travis.  Results: https://github.com/tntp/surveymonkey/actions

Followed this guide: https://ropenscilabs.github.io/actions_sandbox/packageci.html

[2019-12-20 20:37] #44 closed

[2019-12-20 21:04] sfirke opened #48 "Duplicate answer choices cause factorization to choke"
Survey 151062350 won't parse:

  factor level [17] is duplicated

Looks like in the design phase of the survey, the same choices got entered more than once on different rows?  I'm surprised SurveyMonkey allows that.  At any rate, while a respondent now only sees ~20 choices for question 72351265, there are 164 (!) possible values stored in the levels, some of which appear twice.  I'll resolve by c

[2019-12-20 21:06] #48 closed

[2020-01-08 18:43] sfirke commented on #15
If this is implemented, it should only be as an option with the default being factors.  And I'm smiling at the idea of a user typing `numbersAsFactors = FALSE` 😉

[2020-01-09 17:35] #14 closed

[2020-01-15 16:20] sfirke commented on #27
idea: offer a `force_parse = FALSE` argument that performs a de-duplicating `slice()` so that the survey can parse.

Have the regular `parse_survey()` call error and send them to this page to add more detail, for maybe taking this up with SurveyMonkey someday to actually resolve it at the source.  But then also print in the message that they can re-run the call with "force_parse = TRUE` to impleme

[2020-02-03 16:37] #9 closed

[2020-02-03 16:46] sfirke commented on #9
I compared the package's data pull to some .xls exports and it looks like SurveyMonkey _never_ includes recipient_id in the export.  I'm inclined to leave it in there, it doesn't hurt anything though maybe it doesn't add anything since respondent ID already makes each row unique.

I think in theory one could use the recipient ID in a `POST` operation on the API to input a response for someone: htt

[2020-02-03 18:53] sfirke opened #50 "Remove old obsolete code"
There might be files or functions left from earlier attempts at building this package that can now be eliminated.  Low priority.

[2020-02-10 16:20] sfirke commented on #37
I think I like the `sm_` convention.  Let's go with the user-facing function names you suggest, `sm_ls()` ("list surveys"?) and `sm_get_responses()`.  Note that `get_responses()` is already a key internal function within the package so we'll need to rename that.

For developer functions, I could see splitting the `parse_survey` function into `fetch_responses()` and `sm_assemble()` with merge being

[2020-02-10 16:22] sfirke commented on #13
@dpashouwer could you implement this say, this month?  The core of the package -- successfully getting results -- seems pretty reliable to me and so I think we might be at the point where we should knock out the last few items and send it to CRAN.

[2020-02-10 16:24] sfirke commented on #3
Integer ID is fine, right now there's no reason to expose the user to a custom S3 class.

[2020-02-10 16:24] #3 closed

[2020-02-10 16:26] sfirke commented on #15
Make this `sm_`-something, like `sm_unfactorize_numbers`.  This function should have tests, if implemented.

[2020-02-19 14:50] sfirke opened #51 "Add test coverage"
- [x] The simpler part: setup codecov automated coverage with GitHub actions.
- [ ] The thinking part: actually add test coverage.  At the very least, cache the raw results from some sample survey and then have tests to ensure that the result is the expected data.frame.

[2020-02-19 14:50] sfirke opened #52 "Why does the package depend on R >=3.4?"
I apparently changed this from 3.4.3 to 3.4.0 in Dec '19, but don't remember why.

Commit where I changed it: https://github.com/tntp/surveymonkey/commit/b33417d1e0a71123e17a5a5c6542e65dd072867f

[2020-03-02 03:31] sfirke opened #53 "empty contact field in metadata causes parse_response to fail"
When a response has an empty `$contact` in `$metadata`:

[code]
causes merging of `out` with a zero-row data.frame in the line `merge(out, metdata_vars_df)`, which ultimately causes `parse_survey` to fail with:

  replacement has 1 row, data has 0

[2020-03-02 03:32] #53 closed

[2020-03-06 20:28] sfirke opened #54 "Include response type"
Will be "partial" "completed" "overquota" or "disqualified" per API.  Looks like it's available after `get_responses` with just `responses[[1]]$response_status` so that should be easy to incorporate.  Also this field appears in the web interface but not in the .csv export so a nice win for the package.

[2020-03-06 22:02] sfirke opened #55 "Functions to retrieve collector & respondent info"
Have some basic versions up and running 🔮

[2020-03-18 13:53] sfirke opened #56 "Add support for file upload question type"
At least check what the API returns for that.  A URL?

[2020-03-18 13:54] sfirke opened #57 "Add support for star ranking question type"
How does that one currently work?

[2020-03-18 15:00] sfirke commented on #52
Now it depends on >= 3.5.0 because of changes to `loadRDS` and `readRDS` versions 3, I'm using those to create objects for testing.  Use older versions to not require 3.5.0+ ? Not a top priority.

[2020-04-16 14:04] crosscr opened #59 "Pull responses from web link collectors in addition to the email collector"
Hey Sam,

Using this package for a survey I'm working on. Most of my survey responses came from an email collector, but I have a few respondents that required their own web link collectors. I ran into a problem where the responses from the web link collectors aren't being pulled in. When I used this on a different survey back in February, it pulled in all responses (I tested that code and it's not

[2020-04-21 02:53] sfirke commented on #59
Doh, I will check that out - though not sure when given my schedule.  Can you email me the survey ID number where you're seeing this behavior so I can work with it as an example?

[2020-05-08 15:19] sfirke commented on #59
Confirmed that this was resolved by updating to the latest packages

[2020-05-08 15:19] #59 closed

[2020-06-10 13:49] sfirke opened #60 "Issue a better warning message when the oauth token is wrong"
This should make the httr request fail, and the error message should indicate that.  But right now it's an unrelated error message:
[code]

[2020-07-17 18:40] mattroumaya commented on #27
I am running into this issue and have a few (kind of) unique situations going on:

1. Using custom variables to identify survey respondents
2. Using SurveyMonkey's 'contact form' fields for **City/Town** and **State**, and then using two text boxes for **Zip Code** and another unique identifier that survey respondents are required to fill in.

I set up my API pull like this:

# Pull survey from AP

[2020-07-17 18:58] sfirke commented on #27
First off, thanks for the issue and kind words.  It's motivating to hear this has been a help to others!

I am not 100% confident but in the absence of more info, my hypothesis there's some edge case on SurveyMonkey's side that is causing this problematic extra data to leak through the API.  I can trace it to the JSON I get back from the API, but then that's as far as I can go in investigating.

I

[2020-07-17 18:59] sfirke commented on #27
Only other question I have for you: you mention two problematic questions, how many rows out of how many have multiple responses for a single question?  In my cases there would just be 1 or 2 bad respondent records out of ~100 per survey.  Which makes me think it's not just a matter of a certain question type, but something that the respondent did, like clicking the "back" button and re-answering.

[2020-07-17 19:46] mattroumaya commented on #27
Using `get_dupes + tabyl` from `janitor` (maybe you've heard of it? 😆). Total survey responses at the time of this data pull was about 1900.

The table below shows duplicate values based on custom variable (ID):

[code]

Where there are two rows per respondent, it is as you mentioned - the survey respondent click into the survey once and the survey ended because of logic/disqualification. Then, th

[2020-08-24 18:25] shamahutoto opened #61 "Pull tag data"
Hi,

I’ve been using your package to download responses and then manually going back into SurveyMonkey to count up the tagged responses in the text field answer.

Is there a way that a function could be made to download these tags automatically?

I reached out to SurveyMonkey and they say this has been written into the api. If you search “SurveyMonkey test” here it shows where the data can be foun

[2020-08-24 19:49] sfirke commented on #61
Thanks for the JSON blob.  Do you know what question type this is, on the design side?  For further investigation, I'd probably make a survey myself with the question type to explore it myself.

[2020-08-24 20:04] shamahutoto commented on #61
Hi Sam,

I'm not sure about this specific example but I originally asked them about
the "other" comment box tags you can add at the end of multiple choice
questions.

Thanks for looking into it

On Tue, 25 Aug 2020 at 7:49 AM, Sam Firke <notifications@github.com> wrote:

[2020-08-24 20:51] shamahutoto commented on #61
https://imgur.com/XS7JddE

Here's an example of where tags are inputted on SurveyMonkey

[2020-08-25 12:37] sfirke commented on #61
That screenshot is great, thanks!  I'd never noticed the "tags" there.

[2020-09-10 23:32] dshipley2 opened #62 "Duplicate Records seemingly based on required questions"
Hey Sam/Dustin,

I'm using the surveymonkey package on a project I'm supporting a local nonprofit on. Obviously opting for this package and the API connection vs. manual download and upload to R since questions/columns are a lot cleaner this way. The issue I'm having is that when I pull data down using this package, it's creating duplicate records for respondents. There's additional columns added

[2020-09-30 13:32] sfirke commented on #62
Thanks for filing this bug report!  I don't think I could diagnose and fix it without access to the survey itself, to poke at it, but this is still good to have in case it comes up for other users and/or on a survey I do have access to.

[2020-10-14 09:41] krystian8207 opened #63 "parse_survey parameters are too limited"
First of all, thank you for the great package, this makes my life much easier :)

Coming back to my issue, it is related to `parse_survey` function.
In order to optimize the number of requests, I save historical data externally and source only the latest responses.

Whereas `get_responses` (used inside of `parse_survey`) offers a lot of additional parameters that allow to restrict the request, `pa

[2020-10-14 13:04] sfirke commented on #63
Great suggestion.  Take a look at #64, do you think that does it?  Anything you'd add or change?

[2020-10-14 13:15] krystian8207 commented on #63
Thank you for your quick response and PR. This is definitely what I needed.
There are some CI errors, but I expect related to CI setup and not the change itself.

I've started to use the package a few days ago. Anything new I find out, I'll definitely cover in new issues or own PRs.

[2020-10-14 13:15] #63 closed

[2020-10-14 13:22] sfirke commented on #63
CI with R packages is vexing me right now, I have two different packages with CI failures that appear unrelated to the actual code 😩

I'll merge it.  Thanks for the suggestion!

[2020-12-16 20:01] atimlaa opened #65 "Tibble error while parsing survey"
Greeting Sam/Dustin,

I am using the package to get the survey responses in data. frame as it looked very useful and resourceful. I followed all the steps as in your description but I bumped into this error while

### Parsing the survey into a data.frame
survey_df <- parse_survey(a_survey_obj)

## The error
Error: All columns in a tibble must be vectors.
x Column `heading` is NULL

Any ideas on wh

[2020-12-16 20:22] sfirke commented on #65
Thanks for the bug report.  What do you get if you try these two sub commands:
`x <- surveymonkey::get_responses(123456790)` where the number is the ID of your survey?
`y <- surveymonkey:::parse_all_questions(a_survey_obj) ` where that's your survey obj?

I'm betting the latter one fails?  This will be tough to debug but knowing whether that would work could identify whether the problem is in the

[2020-12-16 20:28] atimlaa commented on #65
Thanks for such a quick response,
Yes you guessed right no problem in the first one but the second one fails as you expected

Error: All columns in a tibble must be vectors.
x Column `heading` is NULL.

[2020-12-16 20:33] sfirke commented on #65
I think not, I just upgraded to tibble 3.0.4 and I can fetch my surveys okay.  I am guessing it's a question type you have that I haven't encountered while programming the package, with an empty `headings` attribute.

If you're up for it, you can try tracing the error with traceback, see [here](https://adv-r.hadley.nz/debugging.html#traceback).

If that's too complex for you but you're up for help

[2021-01-25 03:14] sfirke opened #66 "Multiple text box question type has NA appended to the column name"
I'm getting column names in the data.frame like `If yes, please list who, including you if applicable, will be attending from your organization so we can plan breakout rooms accordingly. - Person 3's Name - NA` with this `" - NA` suffix that isn't present in the actual question text.

[2021-01-30 20:48] #54 closed

[2021-02-01 02:55] sfirke commented on #27
I took my original problem cases above to SurveyMonkey, their engineering team agreed that it was a bug but also said it has likely been fixed since then (I was experiencing it on old surveys).  So there may not be more to _my_ cases, though other question types, etc. as noted in #68 could be causing this.

[2021-02-01 02:57] #27 closed

[2021-02-01 02:57] sfirke commented on #62
closed by #68 - I think.  If not, this can be reopened.

[2021-02-01 02:57] #62 closed

[2021-02-01 16:13] mattroumaya commented on #27
Thanks @sfirke!! Interesting to hear about SurveyMonkey's insight. We use surveys as forms, and oftentimes programmers will use the "contact information" question type (seen below). I am convinced that this is the culprit of the issue I've explained above, as well as #62.

I couldn't pinpoint the exact code chunk, but since the `type` and `required` fields make each row unique, I think it was caus

[2021-02-01 16:53] mattroumaya commented on #56
We use this for internal intake forms for survey requests:

`content_type` and `download_url` are returned from the API and named as such, `attachment` will be the "question" for the document upload.

![image](https://user-images.githubusercontent.com/40671730/106490712-17a3bf00-6484-11eb-9acf-502e03bcb577.png)

[2021-04-22 20:11] sfirke commented on #13
closed by @mattroumaya in #69

[2021-04-22 20:11] #13 closed

[2021-04-22 20:12] sfirke commented on #47
@aiccu FYI this just got implemented as `strip_html()`, if you still need this give it a shot and see what you think!

[2021-04-23 18:44] #65 closed

[2021-04-23 18:45] sfirke commented on #66
See discussion in PR #70 , it closed this issue but in a post-hoc way.  Not urgent, but it would be preferable long term to resolve this in how the multi-part names are assembled, rather than cleaning them afterward.

[2021-04-23 18:45] #66 closed

[2021-05-27 14:35] sfirke commented on #60
closed by #72

[2021-05-27 14:35] #60 closed

[2021-06-17 13:06] sfirke commented on #15
I considered this here: https://github.com/sfirke/janitor/issues/447 and decided `readr::type_convert` was perfectly good already.  Could use that if this feature is implemented.

[2021-08-10 17:02] sofiavilchis opened #73 "Error: Can't subset columns that don't exist. x Column `survey_id` doesn't exist."
Hi I have been pulling my surveys for months, and nothing has change in the survey but  yesterday when I try parse_survey , it gives me this error "Error: Can't subset columns that don't exist.
x Column `survey_id` doesn't exist."

[2021-08-12 20:44] sfirke commented on #73
Hrm, I can't think what this would be - the package hasn't changed and it sounds like your survey hasn't either.  I'll leave the issue open in case it affects others.  Does `browse_surveys()` still work?

[2021-08-26 21:20] shamahutoto opened #74 "Error: There are duplicated rows in the responses, maybe a situation like #27"
Hi,

I've been reading in the same survey everyday using the same code - but today got this error: Error: There are duplicated rows in the responses, maybe a situation like #27

The survey and data should be the same as yesterday

[2021-08-30 15:18] sfirke commented on #74
Bummer.  I am unfortunately no longer able to maintain this package.  I have changed employers and no longer use SurveyMonkey, which also means I can't really test any changes I would make anyway.  I'd be willing to approve a pull request in cases where someone has a working change; alternatively, I would be happy to appoint someone else the new maintainer.

For this error, I would suggest walking

[2021-08-30 15:39] mattroumaya commented on #74
@shamahutoto - any way you can provide some details about the survey you're using?

At a minimum, a description of the different question types would be a great place to start troubleshooting. For instance, do you happen to be using the contact form to collect respondent demographic data?

@sfirke - I'd be happy to help to review PRs or be added as a maintainer of this package. We use it to achiev

[2021-08-31 14:56] sfirke commented on #74
Thanks Matt!  I just invited you to be a maintainer of this repo, which I think should give you full control for pushing to main, merging PRs, etc.  I am glad to be able to hand it to someone who is actively invested in the project 🙏

[2021-08-31 20:53] mattroumaya commented on #74
Thanks @sfirke! I really appreciate all of the work you've spent developing and maintaining this over the years, and hope that I can do it justice.

[2021-11-02 00:46] wnfaulkner opened #75 "parse_survey not working & sm_login() does not exist?"
Hello,

First, while I am a regular [R] user and have created my own packages, I am not as experienced with GitHub & issues, so I apologize if my comments miss the mark in any way. I am attempting to get set up using this package to connect directly to a client's data. I have their surveymonkey login info.

I have followed the Usage directions in the package ReadMe. Everything has worked up to par

[2021-11-02 01:17] mattroumaya commented on #75
Hi @wnfaulkner,

You shouldn't have to specify `oauth_token` for each call.

If you run `usethis::edit_r_profile()` in your console, your .Rprofile will pop up, and you can save the following:

`options(sm_oauth_token = "YOUR_ACTUAL_OAUTH_TOKEN")`

After saving the oauth token in your .Rprofile, you'll need to restart RStudio. This will allow the default arg `oauth_token = getOption("sm_oauth_toke

[2021-11-03 21:20] wnfaulkner commented on #75
Hello @mattroumaya,

Thank you so much for your reply!

I had followed those steps, but your reply helped me to check more thoroughly and I noticed that I had incorrectly specified `options(sm_oath_token = "TOKEN")` in my .rprofile file (as opposed to sm_oauth_token). Hence, my original note about the ReadMe was my own mistake. Once I fixed that, saved, and restarted R I no longer got the error.

[2021-11-05 17:51] mattroumaya commented on #75
Thanks @wnfaulkner! Feel free to open an issue if you're running into something with `parse_survey()`. I've personally had a few issues with less common question types that might not be supported (yet!).

I'm going to close this one out, but again, feel free to create another thread if you run into any issues.

[2021-11-05 17:51] #75 closed

[2021-11-08 16:10] ForwardDataWorks commented on #73
Getting a similar error when attempting `parse_survey`. (`browse_surveys` works, and `fetch_survey_obj` works)

[code]
I have been using this twice a week for about 6 months, and I most recently used it last Thursday. We are using these surveys for Customer Support, so we have about 20 of them that are identical except for the Support Agent's name. I tried a few random survey IDs, and I get the sa

[2021-11-08 17:16] sfirke commented on #73
Given that the package is unchanged, and your survey is unchanged, I expect that maybe you installed a newer version of a tidyverse package on which this package depends and that tidyverse package has a breaking change that affects something internal to `parse_survey`.  Might that be the case?

[2021-11-08 18:09] ForwardDataWorks commented on #73
@sfirke thanks for the quick reply. As I mentioned in my original post, I have been using the surveymonkey package twice a week for the past 6 months (on the same group of surveys), and I used it most recently on **Thursday** of last week. I didn't update any packages in the last four days. Any other suggestions you have would be helpful. I am proficient in R, but I am not a developer.

[2021-11-08 19:42] sfirke commented on #73
If your survey is the same, and all packages are unchanged including `surveymonkey`, it's hard to think what the culprit might be.  It's possible that SurveyMonkey made a change to their API and is exporting differently, but the documentation looks unchanged and that seems unlikely to me.

You could try that suggestion to run `rlang::last_error()` and see if that log tells anything useful.  I no l

[2021-11-08 19:53] mattroumaya commented on #73
Thanks for the additional info, @sfirke. I actually tried to debug this earlier, but couldn't replicate the issue. I even updated `tidyverse` and other packages to see if it would throw an error across multiple surveys, but had no issues.

@ForwardDataWorks - can you provide any information about the structure of your survey? Any detail you can provide about the types of questions you're using, if

[2021-11-09 16:34] ForwardDataWorks commented on #73
@mattroumaya Thanks for the code. Unfortunately it is throwing an error:
[code]
Any suggestions/edits you can provide would be greatly appreciated.

[2021-11-09 16:41] mattroumaya commented on #73
@ForwardDataWorks sorry about that! I updated the code above, if you copy and paste it again and use `parse_survey2`, I am hoping it'll work.

[2021-11-09 17:10] ForwardDataWorks commented on #73
Ah, brilliant, @mattroumaya !! Thanks for the help.

[2021-11-09 21:25] mattroumaya commented on #73
Glad it worked for you! I'll submit a PR later to close this out, and you'll be able to update the package, and hopefully won't run into any more issues. I'll also investigate further, because it seems that `choice_metadata` is being brought in for weighted questions, so we'll need to decide how that gets handled.

[2021-11-10 14:58] mattroumaya commented on #73
PR #76 closes this, you can update the package and should no longer run into this issue. It seems that SurveyMonkey has been doing a bit of work on their API, so we'll have to keep an eye on any similar issues that come up.

[2021-11-10 14:58] #73 closed

[2021-11-10 15:14] sfirke commented on #73
Nice work!

[2021-11-11 00:54] wnfaulkner opened #78 "parse_survey: (a) unique id creation; (b) arranging final 'out' object by response_id"
Hello @mattroumaya,

I've now gotten my own version of parse_survey() working for one of the client's surveys. I have not yet tested it on others. Although I do not have a full, professional diagnosis of the errors I've been getting, I wanted to at least present them to you with the solutions I found.

(a) unique_id creation

[2021-11-11 01:06] wnfaulkner commented on #78
Line 64-67 of file 'assemble.r': with my survey, there were no NAs in x$q_unique_id but the left side of the command `x$q_unique_id[x$question_type == "multiple_choice" | x$question_subtype == "multi" & is.na(x$other_id)]` returned a vector with a bunch of NAs and hence threw an error. I solved this by putting parentheses around the conditions on both left and right sides of the command so now it

[2021-11-12 15:11] mattroumaya commented on #78
Thanks for the detailed information @wnfaulkner! I'm not able to find a survey that is in use for my account that has this same issue, so it makes troubleshooting it more difficult.

Totally understandable that you cannot share your data. If it's possible to share the survey question types, or an overview of how the survey is set up, then I could try to set up a similar survey with dummy data to r

[2021-11-16 21:15] mikesamuelson32 opened #79 "browse_surveys doesn't return include"
The line at the end of the script `dplyr::select(sl, title, id, url = href, nickname)` does not allow additional columns requested through the include parameter to be passed through.  For instance, if I request 'date_modified,date_created', they are not being returned in the dataframe.  However, if the line is modified to

`dplyr::select(sl,title, id, url = href, nickname,everything())`, additiona

[2021-11-17 03:27] mattroumaya commented on #79
Hi @mikesamuelson32, this is a great catch! I have a solution that works as follows:

- You can provide a character vector argument for `include`, i.e., `include = c("date_modified", "date_created")`.
- Alternatively, you can use `include = "everything"` which will return all of the non-team related parameters: `response_count, date_created, date_modified, language, question_count, analyze_url, pr

[2021-11-19 18:57] de3ert opened #80 "Recipient Information"
After entering `recipients <- get_recipients(888888888)`  (where `888888888` is the collector id) the following error is returned: "Error in get_recipients(888888888) : Not Found (HTTP 404)." Any advice on how I might avoid the error? I had already retrieved the survey data and placed it into a data frame. Thank you!

[2021-11-19 19:39] mattroumaya commented on #80
Hi @de3ert, I think the issue is in the documentation for `get_recipients()`, and I'll be sure to correct this soon.

There are actually separate IDs for `survey_id` and `collector_id`, so you'd need to run something like the following:

[code]
I hope this is helpful! I'll update the documentation accordingly with a pull request.

It also looks like some fields aren't being parsed, such as `survey

[2021-11-19 19:55] mikesamuelson32 commented on #79
Matt,

I am not seeing that either of the workarounds you list below are working.  Still getting just the 4 columns.

-- Mike

Please support my ride to end cancer.  You can make a donation at www.pelotonia.org/mikesamuelson<http://www.pelotonia.org/mikesamuelson>

________________________________
From: Matt Roumaya ***@***.***>
Sent: Tuesday, November 16, 2021 10:27 PM
To: tntp/surveymonkey ***@*

[2021-11-19 19:57] mattroumaya commented on #79
Hi Mike,

I haven't submitted a pull request yet - was waiting to hear back to see if this sounds like a viable solution for you. Let me pull up the project and submit a pull request and I'll let you know when you can reinstall the package and give it a shot.

[2021-11-19 20:10] mikesamuelson32 commented on #79
Matt,

Unfortunately, we have also found another issue as we have continued to dig...

The get_responses function is throwing the stop("Must specify 'oauth_token', Try using smlogin() first.") even though we are passing in a value for oauth_token.

We believe the issue is in lines 52-54, where the function calls itself recursively for each page of survey responses, but it doesn't pass in the oauth

[2021-11-19 20:34] mattroumaya commented on #79
Hi Mike,

Hopefully the pull request that was just merged will fix the initial issue.

Can you provide some more info on what you're using `get_responses()` for? To pull a survey without editing your .Rprofile with the `sm_oauth_token` global variable, you could try something like:

[code]

[2021-11-19 20:42] de3ert commented on #80
Thank you! To clarify, I first ran `collectors <- get_collectors( )` with the survey ID and then ran `recipients <- get_recipients( )` with the collector ID that I retrieved from the object `collectors`.

[2021-11-19 20:55] de3ert opened #82 "Column (Date Modified) Showing Results That Differ From Direct Export From Survey Monkey"
When viewing individual responses in SurveyMonkey, I notice that some records show a "Last Modified" date that differs from the date under "date_modified" that is created by the package.  Do you have any idea why the difference is occurring? Thank you!

[2021-11-19 21:01] mikesamuelson32 commented on #79
Matt,

We are actually using parse_survey, but of course it calls get_responses.  In our case, we have the oauth token stored in a database and we pull it into a variable, then we pass that into parse_survey().  The problem is that when you get into that recursive call in get_responses(), it is no longer passing in the token, so the default of getOption("sm_oauth_token"), which of course then fail

[2021-11-19 21:17] mattroumaya commented on #79
Are you able to assign the token to a variable within the global environment (instead of in your .Rprofile) called `sm_oauth_token`?

If so, I think we could modify `get_responses()` so that it checks the global environment for a specific variable called `sm_oauth_token` and then assigns that to the `token` value before error-ing out.

What do you think?

[2021-11-19 21:27] mattroumaya commented on #82
Can you provide a little more info? Where does `Last Modified` come from, and where does `date_modified` come from?

[2021-11-19 21:30] mikesamuelson32 commented on #79
We are currently passing in a variable called bearerToken in as the oauth_token parameter in parse_survey, which then passes it as oauth_token to get_responses.

In get_responses, I think you can easily fix it by changing this code, from lines 52-24

FROM THIS:
    rnext <- get_responses(id, page = page + 1, all_pages,
      per_page, start_created_at, end_created_at, start_modified_at,
      end_

[2021-11-19 21:42] mattroumaya commented on #79
@mikesamuelson32 - great idea, thank you! I made that change, check it out when you can.

[2021-11-19 22:20] de3ert commented on #82
In SurveyMonkey, after selecting my survey I navigate to Analyze Results and then to Individual Responses to find the Last Modified date of each respondent. The Last Modified date also exports from SurveyMonkey as End Date. In R, after I run

`survey_df <- [survey id] %>%
  fetch_survey_obj %>%
  parse_survey`

I then take a look at column names and see the `date_modified` column. Most of the valu

[2021-12-01 15:29] paulditterline commented on #57
When I pull in a survey that has a star rating question type, the response is coded as a factor with one level, which is "" - or blank.

In other words, star questions are presented as completely blank factor columns.

[2021-12-01 16:02] mattroumaya commented on #57
Hi @paulditterline, thanks for the info! Are you needing support for star rating questions? I can take a look at this sometime this week or weekend.

[2021-12-01 16:31] paulditterline commented on #57
I'd love that.
I'd be happy to try and help as well if you can point me towards the right
function.

On Wed, Dec 1, 2021 at 11:03 AM Matt Roumaya ***@***.***>
wrote:

[2021-12-04 13:03] mattroumaya commented on #82
I plan to look into this further soon but haven't had the time. Have you found any additional info about this issue @de3ert?

[2021-12-04 13:43] mattroumaya commented on #57
@paulditterline I just merged a PR that will hopefully support star rating questions. The issue was in the `assemble.r` function (which is used for `parse_survey`). My assumption is that your rating question did not use row labels, but I'm hoping you are able to test it out and confirm if this is now supported or if we need to dig into it more.

[2021-12-04 13:50] mattroumaya commented on #79
@mikesamuelson32 did the PR #83 fix your issue?

[2021-12-04 13:51] mattroumaya commented on #80
Looks like this was already documented, but agree that it can be confusing!

[2021-12-04 13:51] #80 closed

[2021-12-06 21:36] paulditterline commented on #57
Hi @mattroumaya  - thanks for the quick update, very much appreciate your help and time.

I re-installed the package using devtools::install_github("tntp/surveymonkey"), then loaded the package and called in my survey with `fetch_survey_object()` and then `parse_survey()`. The two star questions are still showing up as all blank in the data frame, while all other data is present.

[2021-12-06 22:12] mattroumaya commented on #57
@paulditterline ah! sorry it's not working!

Is there any way you could provide some setup info about how your rating question is programmed in SurveyMonkey? I would follow your directions and create a similar item in my account, create some fake responses, and then pull the results which would help to replicate and identify the issue.

[2021-12-07 14:22] paulditterline commented on #57
Hi @mattroumaya - the question type is called "star rating", as seen in this screenshot:

<img width="470" alt="image" src="https://user-images.githubusercontent.com/10035027/145045923-e4e1ba8a-71f1-4589-b20d-dd3434747b93.png">

Not sure if it matters, but we have it set on the "star" icon, as see in this screenshot:

<img width="245" alt="image" src="https://user-images.githubusercontent.com/1003

[2021-12-07 14:32] mattroumaya commented on #57
I have a test question set up as below, and am able to pull the results with:

[code]

In the case of the screenshot below, the column is a `factor` with 5 levels: 1,2,3,4, and 5. Are there any other options you've changed for the rating type, or is it identical to the screenshot below?

Sorry for all of the questions! It's challenging to troubleshoot when we're working within the SurveyMonkey UI

[2021-12-07 14:51] paulditterline commented on #57
I don't see any differences in mine:

<img width="983" alt="image" src="https://user-images.githubusercontent.com/10035027/145050298-ceacd254-445e-4922-80f2-9c450c1ea50d.png">

Mine doesn't show the "scale" options - but I think that's because I already have responses so I can't edit that field.

I double checked that I was using the right survey ID number as well.

The fields show up blank, as yo

[2021-12-07 15:50] mattroumaya commented on #57
Reinstalling definitely should have given you the updated function.  Here are two suggestions that will hopefully get you up and running:

1. Try to reinstall again:

[code]
2. Replace `parse_survey()` with a function that you run and store in your Global Environment called `parse_survey2()` (below). This is just making the updated `parse_survey()` function available for you to use, so you can ens

[2021-12-07 16:15] paulditterline commented on #57
OK - not exactly sure what happened, but the star questions are now coming in!

[2021-12-07 16:18] mattroumaya commented on #57
Awesome! I believe the issue above should be fixed if I reference dplyr (`dplyr::mutate()` instead of just `mutate`). I'll fix that up now, and hopefully star ranking question types are fully supported.

Thank you for all of your assistance troubleshooting this!

[2021-12-07 16:22] paulditterline commented on #57
My pleasure - thank you for all your work on this package. It's incredibly helpful. Cheers!

[2021-12-07 16:34] mattroumaya commented on #57
Merged PR #85 to close this issue.

[2021-12-07 16:34] #57 closed

[2021-12-07 17:23] paulditterline opened #86 "Authentication when deploying to RStudio Connect"
Hello-

I'm using `flexdashboard` to show metrics, some of which come from Survey Monkey. I was hoping to use this package to make the data live from Survey Monkey.

My application works locally by referencing the oauth_token in `fetch_survey_object()` as shown below:

<img width="595" alt="image" src="https://user-images.githubusercontent.com/10035027/145075458-10d0c969-5be5-47d4-8ed6-e2b3ded8066

[2021-12-07 17:42] paulditterline commented on #86
Turns out the error was coming from `parse_survey()`, and when I put the same argument in that function for the token, it worked when deployed!

[2021-12-07 17:42] #86 closed

[2021-12-07 20:00] mattroumaya commented on #86
@paulditterline glad to hear it's working! I'm definitely interested in learning more about RStudio Connect, but don't currently use it at my job.

[2021-12-08 14:54] sfirke commented on #86
FWIW I believe `smlogin` was a function left over from the version of this package developed years ago by Thomas Leeper, for the v2 API (SurveyMonkey is now on v3).  That may have been a bit I left in, intending to update but not finishing it?  At any rate I don't think `smlogin` is relevant anymore.

[2021-12-08 15:23] mattroumaya commented on #86
Thanks for the background info, @sfirke!

A few people have encountered the `smlogin()` error recently, so I'm going to update it and instead direct to the `sm_oauth_token` documentation.

[2021-12-09 22:59] mhwangbo11 opened #88 "Video tutorial?"
Greetings! Thanks for the amazing work/documentations. Do you happen to have a Youtube video tutorial on OAuth and how to navigate SurveyMonkey surveys? Thanks again for your amazing work!

[2021-12-10 15:24] mattroumaya commented on #88
Hi @mhwangbo11! All credit goes to @sfirke and his team for creating such a great package.

There are no YouTube video tutorials for setting up your OAuth/API Token in your `.rprofile`, but I'd be happy to help you troubleshoot, or put together a step-by-step post.

Is there anything in particular that you're getting caught up with at the moment?

[2021-12-10 17:02] mhwangbo11 commented on #88
Hi @mattroumaya  Thanks again for your support!
Here's where I am stuck. I use R Markdown HTML to code all our files, and I think I'm stuck with OAuth/API token set up section.

The error pops out Step 3 in below codes:
`Error code: Error in browse_surveys(10) : could not find function "browse_surveys"`

I am assuming either Authentication process is not quite working or something is not quite rig

[2021-12-10 17:05] mattroumaya commented on #88
Hi @mhwangbo11 - I think you just need to load the `surveymonkey` package.

**For Step 1 above, include:**
[code]

[2021-12-10 17:08] mhwangbo11 commented on #88
It's working and one more error code pop up:

`Error in browse_surveys(10) : Unauthorized (HTTP 401).`

Thanks again!
Min

[2021-12-10 17:51] mattroumaya commented on #88
When you log in to your SurveyMonkey app, does it say **deployed?** I have seen that cause a 401 error before.

Since a 401 error doesn't give us much to work with, I'm not too sure what else could be going on without barraging you with questions, so I'll hope that you just need to deploy the app and then it works! 😄

[2021-12-10 18:11] mhwangbo11 commented on #88
Thanks again! @mattroumaya I found the issue! I think our org plan for API access is disabled (we'll need to purchase Premier account - it looks like we have a Team Advantage plan). Well thanks again at least this is a good start to figure out some more work in the future :)

[2021-12-10 18:11] #88 closed

[2021-12-10 18:39] mattroumaya commented on #88
Ah yes, unfortunately you do need to have a Premier plan 😞. Glad you were able to figure out what went wrong, though!

[2021-12-14 19:24] mattroumaya commented on #79
Closing this for now as it seems to be resolved from #83

[2021-12-14 19:24] #79 closed

[2022-01-05 13:19] #56 closed

[2022-01-05 13:21] mattroumaya commented on #2
#79 addresses and closes this one!

[2022-01-05 13:21] #2 closed

[2022-01-09 06:11] jamieRowen commented on #51
@mattroumaya, continuing conversation from #90 here. I guess if you want to start catching changes to the API you would need to actually make a request to obtain the data.

Since you likely only have a limited number of requests you probably don't want to do this on every push, so would run tests that require this on PR to master/main only.

Since this would get in the way of running tests as part

[2022-01-09 22:16] jamieRowen commented on #51
To add to this, if you can give me some example of test survey and expected results I don't mind adding some tests when I get time. If you can find a way to give me a token I can use for testing purposes as well I can add it to a github action.

[2022-01-10 14:45] sfirke commented on #51
This makes sense to me.  The small suite of existing tests uses this approach as you note.  To do this, I think someone should make a dummy survey with lots of question types, fill it out with responses in a way that gets at a mix of cases (incomplete response, everyone skips the same question, etc.) and then its transformation could be tested.

Good idea.  The issue I see is storing API keys in t

[2022-01-10 15:01] jamieRowen commented on #51
For a number of endpoints we could do something using `{httptest}` to mock API responses based on the examples surveymonkey give you in their API docs.

Yeh you should be able a key in the same way, for a pipeline it's then just a case of knowing what the key is called and setting up appropriately.

I had a quick look around survey monkey API docs to see if there was something that could be done.

[2022-01-10 15:04] jamieRowen opened #93 "remove redundant actions"
There are a number of R package checks that are being run as github actions that appear to be old/broken and haven't passed for some time. This doesn't help gain reliable information on whether changes to a package introduce breaking changes or fix something. In particular the R-full checks all seem to fail consistently and appear to be broken.

I would consider either:

1. removing them completel

[2022-01-10 21:55] #93 closed

[2022-01-28 22:44] humoroussmile opened #96 "API access for paid plans"
Hello! Thank you for this spectacular package. I've been using this with great success up until recently when I started receiving 403 errors. I'm not exactly sure what the issue is. Our app's scopes are set to "Required" as listed in the README.md.

Per your README.md, "This is confirmed to work for paid plans at the Advantage and Premier levels. Unconfirmed if standard & basic (free) plans are gr

[2022-02-01 19:13] mattroumaya commented on #96
Hi @humoroussmile - this does seem like an account/API access issue. I would check in with a SurveyMonkey rep and see if your account is eligible to use the API as a first step. If you are supposed to have access, then I'd suggest reporting back and we can walk through some troubleshooting.

[2022-02-02 01:15] humoroussmile commented on #96
Thank you for your quick response @mattroumaya! I reached out to SurveyMonkey, and their response was very helpful, so I hope this helps for the purposes of your tool and for other users:

**Survey Monkey Technical Support**: "The Team Advantage [plan] does not include direct API access as a feature... direct API access is only available on our Premier or Enterprise plan... On any of our plans...

[2022-02-03 19:21] mattroumaya commented on #96
@humoroussmile Thank you for the detailed response! It's helpful to know what's going on with SurveyMonkey's enterprise plans. I'll close this out for now, since it seems like you've found a workaround/resolution.

[2022-02-03 19:21] #96 closed

[2022-03-01 21:50] jamieRowen commented on #74
I have similarly hit this issue on a survey where it wasn't previously present, I will do some digging to try to understand whether or not the duplicate is present in the raw json, however at present the warning about #27 causes the parse to error and there is no escape. Would it be possible to include an argument to bypass the error and return with duplicates to be dealt with afterwards?

[2022-03-01 22:45] jamieRowen commented on #74
As far as I can tell, there is only one copy of the duplicated being returned in the raw json, when I get more time I will try to understand where the duplicate comes in

[2022-03-01 22:59] jamieRowen commented on #74
it looks like the duplicate appears somewhere in the `parse_respondent_list()`

This is a multiple choice question, each of the choices appears twice.

[2022-03-04 21:31] mattroumaya commented on #74
@jamieRowen definitely feel free to put in a PR if you have a solution - I'm not able to quickly replicate the issue so am not sure where to start. If you are able to describe the question setup on your end, I should have some time this weekend to take a look!

[2022-03-27 00:11] #74 closed

[2022-03-28 00:42] mattroumaya commented on #78
@wnfaulkner closing for now but feel free to reopen if needed.

[2022-03-28 00:42] #78 closed

[2022-03-28 00:43] mattroumaya commented on #82
@de3ert closing for now but feel free to reopen if needed.

[2022-03-28 00:43] #82 closed

[2022-03-28 00:44] mattroumaya commented on #61
@shamahutoto closing for now but feel free to reopen if needed.

[2022-03-28 00:44] #61 closed

[2022-03-28 00:51] mattroumaya opened #99 "Update documentation about API access/account types"
I changed jobs somewhat recently and am able to access many of the API endpoints using an entirely free account. More info on scopes available to free users [here](https://developer.surveymonkey.com/api/v3/#scopes).

Tagging @sfirke in case you are at all interested in checking this out.

If anyone has more insight about the specifics API access between types of free/enterprise accounts, definitel

[2022-03-28 02:33] sfirke commented on #99
Whoa that's great!  I just looked at the doc you linked and agree that it looks like the package should work for users with free accounts.  Maybe change the README to say it should work for free users but please file an issue to confirm or deny that's the case?

[2022-04-10 12:06] #51 closed

[2022-04-12 17:40] sfirke opened #101 "Change maintainer / repo location"
@mattroumaya has stepped up and taken ownership of this package for over a year now.  I propose that it would be an improved state of affairs all around if he were to become the maintainer of this project, being listed as the first author in the DESCRIPTION file and moving the repo to github.com/mattroumaya/surveymonkey.  The README can be updated to note that the package was initially developed b

[2022-04-15 16:21] jeremyjaytaylor opened #102 "Error in sm_get"
As of last night, I am getting an "Error in sm_get(url = u, query = NULL, config = h, path = p) :
  Forbidden (HTTP 403)" message when I try to do anything at all, including just pulling a list of surveys. It had been working flawlessly for months before last night. Any ideas what might be happening?

[2022-04-15 16:24] mattroumaya commented on #102
When you run `getOption("sm_oauth_token")`, does it return your oauth token?

[2022-04-15 18:33] jeremyjaytaylor commented on #102
But now that you mention that @mattroumaya, when I login to check my token on Surveymonkey's website it says my token is disabled. Any idea why that would be and how to re-enable?

[2022-04-15 18:38] jeremyjaytaylor commented on #102
It appears it now says a higher level subscription is needed for API access than what I currently have. I currently have "Team Advantage" and apparently now "Team Premier" is needed. It must've changed because I've been using the API for months... Thanks for the idea that helped me find the answer, @mattroumaya. It's frustrating they changed features I was getting for my $$...

[2022-04-15 18:41] mattroumaya commented on #102
@jeremyjaytaylor - this is interesting because I changed jobs somewhat recently, and have been able to pull responses with the API with an entirely free account. Is the app you created to access the API a public app? Or is it set to private? I think that might make a difference, but am also unsure of the downstream effects of public vs. private apps.

[2022-04-15 20:17] jeremyjaytaylor commented on #102
It might be private. I'd be fine making it public as long as the data gathered with the app remains private. Do you know if that is the case?

[2022-04-29 21:51] mattroumaya commented on #101
Sounds good @sfirke! I'm on GH pretty much all day so feel free to ping me here, or at matthewroumaya@gmail.com

[2022-05-02 14:36] sfirke commented on #101
@mattroumaya I think you need to delete mattroumaya/surveymonkey for this to work, right now the transfer errors with:

I'll look into the second part of that error.

[2022-05-02 14:40] mattroumaya commented on #101
@sfirke I just deleted my fork so that part should be taken care of

[2022-05-02 14:42] sfirke commented on #101
Voila!  And this works too now: https://mattroumaya.github.io/surveymonkey/  I think if you knit README.Rmd and push this is all set.

Thank you for taking over stewardship of this package!

[2022-05-02 14:45] mattroumaya commented on #101
Thank you for being open to collaboration and trusting me with this, @sfirke!

Contributing to this package was my first experience with opensource and I've learned a ton over the past year or so. I'll do my best to keep it up and running smoothly, and maybe even get it on CRAN some day! Thanks for all of the work you've put into developing it! 🎉

[2022-05-02 14:46] #101 closed

[2022-05-06 15:33] mattroumaya commented on #102
@jeremyjaytaylor sorry for the late response - did you get this sorted out? I would hesitate to recommend any API app settings where I'm not totally sure of the impact on data security, and would instead recommend reaching out to SurveyMonkey for guidance.

[2022-05-09 19:12] Chhr1s commented on #102
I am having the same issue and am also using a free account and a private app. @jeremyjaytaylor, did you ever resolve this? Did you have to upgrade to a paid account?

It's especially odd to me because I was successful less than 24 days ago (when this was filed). It stopped working without any changes.

[2022-05-12 20:39] nathanielolin opened #104 "A/B text or images don't appear in survey results"
Manual exports contain the A/B text or A/B image randomly selected for an individual response, but `parse_survey` doesn't contain columns for any A/B test elements of a survey. (Please ignore the strange question titles in my toy survey 😅)

Manually exported to CSV:
<img width="977" alt="Screen Shot 2022-05-12 at 4 37 39 PM" src="https://user-images.githubusercontent.com/6118373/168163789-fcfc8e14

[2022-05-12 21:31] mattroumaya commented on #104
@nathanielolin always love a Pokemon reprex! Unfortunately, I don't think A/B testing is supported in the current package, and I only have a free SurveyMonkey account after changing jobs in January, so I'm not able to recreate your example to investigate and add a feature.

I'd certainly welcome a PR if you have a potential fix. If you happen to have an open account with A/B question access that I

[2022-05-12 21:55] nathanielolin commented on #104
Thanks for the offer! As you suspect, I don't have an account I can give you access to. I'm writing a workaround for my current needs since you can still get the data into R and I haven't looked at how `parse_survey` works yet. But if I have time afterwards I will try to write a PR.

[2022-05-12 23:33] wnfaulkner opened #105 "Extracting Page ID"
Hi @mattroumaya ,

Back at it again! Thank you for your help a few months ago. We were able to get data parsed, organized, and sent off to some interested parties who ended up using it to put pressure on some local courts in Louisiana to get their act together with regards to providing interpreters.

**New issue:**

Notes:
1. I have spent a couple hours on this, but wouldn't say I'm at the end of

[2022-05-13 13:32] mattroumaya commented on #105
Great to hear some background on your projects, @wnfaulkner!

I don't think I totally understand the end goal here, and apologies if I'm missing something obvious.

It seems like this is the API endpoint you're looking to grab: https://developer.surveymonkey.com/api/v3/#api-endpoints-get-surveys-id-pages

Is there any way you could mock up a table to show what the `data.frame` would ideally look l

[2022-05-13 22:04] wnfaulkner commented on #105
Hi @mattroumaya,

OK, going to try to clarify below, but again, I need to do a little more learning about how to manipulate & parse json objects inside of [R], so if things aren't clear we can just leave it for now.

FYI I prefer data in long format so I'm using `parse_respondent_list()`, as opposed to the wide format output by `parse_survey()`.

Here's example data  without page.id:
`  responses.

[2022-05-14 17:14] mattroumaya commented on #105
Thanks for the additional detail, @wnfaulkner!! It sounds like you're doing very meaningful work so I'm really happy to help with this (if I can! 😃)

Below is a function that I hope is close. It'll give you a bunch of extra columns, but you can just `select` the ones you need. Let me know if this helps or if it's off the mark.

You would run this by doing `survey <- sm_with_id(123456789)`

[code]

[2022-05-27 13:17] mattroumaya commented on #105
Any luck with the function above @wnfaulkner?

[2022-05-27 13:19] mattroumaya commented on #104
Tagging this as **help wanted** - if anyone has a premium SurveyMonkey account and wants to submit a PR, please feel free to do so!

[2022-05-27 13:20] #102 closed

[2022-05-27 13:21] mattroumaya commented on #50
Think this was mostly resolved in #91

[2022-05-27 13:21] #50 closed

[2022-05-27 13:23] mattroumaya commented on #52
Closing because this seems to be working fine and we are now well beyond 3.5.0

[2022-05-27 13:23] #52 closed

[2022-05-30 14:16] #99 closed

[2022-05-30 14:18] mattroumaya commented on #34
I think this has been added in most places where it's relevant, e.g., `browse_surveys()`, `fetch_survey_obj()`, `parse_survey()`, etc.

[2022-05-30 14:18] #34 closed

[2022-05-31 00:29] wnfaulkner commented on #105
Hi @mattroumaya ,

I'm so sorry for the delayed reply. Since our last communication, I've switched computers, jobs, and been sick. I'm still working with my client but it may take me a little while to be able to test fully. When I gave it a quick try last week, things were looking good, but let me put some time in this week and I will give you a more thorough reply. Once again, thanks for the help

[2022-06-01 13:09] mattroumaya commented on #105
@wnfaulkner no need to apologize! Hope you are feeling better, and best of luck with your new job! I'll keep this open until you have a chance to review, definitely no rush at all.

[2022-06-07 02:10] mattroumaya opened #107 "Add MIT License"
Reviewing checklist for CRAN submission - add MIT license to cover `devtools::check(cran = TRUE)`.

[2022-06-07 02:26] #107 closed

[2022-06-07 02:31] mattroumaya opened #109 "Change user agent"
- Change from "http://github.com/tntp/surveymonkey" to relocated repo name "http://github.com/mattroumaya/surveymonkey" (like seen [here](https://github.com/mattroumaya/surveymonkey/blob/master/R/request_utils.R#L25)).
- Also research this more to see if a generic URL can be set as default

[2022-06-09 21:20] wnfaulkner commented on #105
Hi @mattroumaya,

Quick update: the function works. With a little tweaking, I've been able to use it to get a table of question.ids and page.ids that I can join with my responses table to create a unique defendant.id for each defendant.

I'm working on expanding now to be able to apply/map the function across multiple surveys. The function does take some time to execute, but I technically only nee

[2022-06-09 21:36] mattroumaya commented on #105
Excellent, @wnfaulkner! Thanks for the update!

I'd definitely love to see what you're working on - feel free to send a copy of the report to me at matthewroumaya@gmail.com.

Closing this for now but as always, please feel free to open an issue if anything comes up.

[2022-06-09 21:36] #105 closed

[2022-08-20 16:54] mattroumaya opened #111 "Fix failing CI"
Seems like a re-run will fix this since it's only failing on Ubuntu.

Link [here](https://github.com/mattroumaya/surveymonkey/runs/7371523748?check_suite_focus=true)

[2022-08-20 21:01] #111 closed

[2022-08-21 03:42] sfirke commented on #111
This is the real maintainer stuff 🤘

On Sat, Aug 20, 2022, 5:01 PM Matt Roumaya ***@***.***> wrote:

[2022-10-09 02:44] #109 closed

[2022-11-05 18:03] jpmaroco opened #114 "xx"

[2022-11-08 02:05] mattroumaya commented on #114
@jpmaroco - hoping you were able to solve your issue! I saw the notification via email but couldn't respond right away. Closing this since you've since removed the content.

[2022-11-08 02:05] #114 closed, assigned to nobody

[2022-11-23 01:37] sarahmovementecon opened #115 "Duplicate error"
I have been using your package for about a month and am really appreciating it so much. Today I ran my code to pull data from survey monkey using your package and I received the following error:

Error: There are duplicated rows in the responses.
To proceed and retain duplicates, re-run this function with fix_duplicates = 'keep'
To proceed with dropped duplicates, re-run with fix_duplicates = 'dro

[2022-11-23 16:20] mattroumaya commented on #115
Hey @sarahmovementecon! Glad you are finding the package useful.

It's hard to know why your survey might be pulling duplicates, but if you know you want to keep them, you can do so like this:

[code]
`fix_duplicates` is an argument to the `parse_survey()` function, so that's why the code you have probably wasn't working.

Let me know if this resolves the error!

[2022-11-27 18:22] sarahmovementecon commented on #115
Hi Matt,

Thank you so much for your quick reply. I did not get the same error, but
am now receiving a different error message:

Error in `dplyr::bind_cols()`:! Can't recycle `survey_id` (size 12678)
to match `..41786` (size 2).

Any ideas on what could be causing this? This had been working fine
previously and nothing has changed about the survey, except that I
have a lot more observations now an